{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'base.css' %}">

</head>

<body>
    <div class="layout">

        <!-- NAVBAR (lado esquerdo) -->
        <div class="navbar">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'novo_agendamento' %}">Novo Agendamento</a>
            <a href="{% url 'meus_agendamentos' %}">Meus Agendamentos</a>

            <div class="user-info">
                Olá, {{ user.username }} <br>
                <a href="{% url 'logout' %}">Sair</a>
            </div>
        </div>

        <!-- CONTEÚDO (lado direito) -->
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

    </div>

</body>

</html>