{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>

<body>
    <header>
        <div class="inicio">
            <img src="" alt="#">
            <span>
                Barbearia&Shop Bclub
            </span>
        </div>

        <a href="{% url 'login' %}" class="entrar">
            Entrar
        </a>
    </header>

    <main>
        <div class="sobre">
            <span> Sobre </span>

            <hr>

            <p>
                A melhor barbearia de Belo Horizonte, localizada no bairro Diamante. Criamos a Barbearia Bclub para
                homens de bom gosto que
                prezam por estilo, elegância e bom atendimento. Acreditamos que os homens merecem satisfação total com
                seu cabelo e barba,
                e se não for pra deixar impecável a gente nem faz! Nosso propósito é gerar satisfação total quando o
                assunto é cabelo e barba.
                A ideia aqui é aumentar a autoestima do homem, mostrar novas opções e possibilidades para seu estilo,
                tornando-o mais bonito,
                confiante e elegante. Procuramos ser impecáveis em tudo! Prezamos pelo atendimento excelente, ambiente
                amigável e descontraído,
                um lugar para o homem relaxar, compartilhar experiências, fazer amigos e dar risadas.
            </p>
        </div>

        <div class="horarios">
            <span> Seg - Sáb </span>
            <span> 8h às 18h </span>
        </div>

        <!-- 
        <div class="contatos">
            <button class="endereco"> </button>
            <button class="whatsapp"> </button>
            <button class="instagram"> </button>
        </div>
        -->

        <div class="diferenciais">
            <span> Diferenciais </span>
            <hr>
            <ul>
                <li> Café </li>
                <li> Wifi </li>
                <li> Sala de espera </li>
                <li> Delivery de Produto </li>
                <li> Entrada Acessível </li>
                <li> Programa de Benefícios </li>
                <li> Pagamento Online </li>
                <li> Pagamento via Pix </li>
                <li> Pagamento via Cartão </li>
            </ul>
        </div>

    </main>

    <footer>
        <span> 2026 Barbearia&Shop Bclub </span>
    </footer>
</body>

</html>