<!DOCTYPE html>
<html lang="p-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>

    <div class="painel_central">

        <form method="POST">
            {% csrf_token %}

            <span> BC CLub </span>
            <input type="text" placeholder="Usuário" name="username">
            <input type="password" placeholder="Senha" name="password">
            <button type="submit"> Entrar </button>

            {% if erro %}
            <p style="color: red;">{{ erro }}</p>
            {% endif %}

        </form>

    </div>
</body>

</html>